// guest page layout.
q-layout.u-layout.u-layout-guest(view='lHh Lpr lFf')
  // main content container.
  q-page-container
    // wrapper row.
    div.row.justify-center.row-page-container
      // responsive column
      div.col
        // view transition
        transition(:duration="transitionDuration", enter-active-class="animated fadeIn", leave-active-class="animated fadeOut")
          // router-view.
          router-view
