// import core variables.
@import '~quasar-framework/src/css/core.variables'

// custom main font (Lato).
$typography-font-family          ?= 'Lato', '-apple-system', 'Helvetica Neue', Helvetica, Arial, sans-serif
$typography-font-family-comments ?= 'Source Sans Pro', 'Lato', '-apple-system', 'Helvetica Neue', Helvetica, Arial, sans-serif
// custom monospaced font (Roboto Mono).
$typography-font-family-mono     ?= 'Roboto Mono', '-apple-system', 'Helvetica Neue', Helvetica, Arial, sans-serif

// custom main colors.
$primary   = #4786ff
$secondary = #26A69A
$tertiary  = #24292e

// custom colors.
$neutral   = #E0E1E2
$positive  = #21BA45
$negative  = #DB2828
$info      = #31CCEC
$warning   = #F2C037

// shadow / elevation customization.
$elevation-umbra = rgba(black, .05)
$elevation-penumbra = rgba(black, .03)
$elevation-ambient = rgba(black, .01)

// custom header / footer shadows.
$layout-header-shadow = $shadow-2;
$layout-footer-shadow = $shadow-up-3;

// utopian colors:
$suggestion = #4dd39f
$development = #000000
$bug-hunting = #db524c
$translations = #ffcf26
$graphics = #f8a700
$analysis = #174265
$documentation = #a0a0a0
$tutorials = #792a51
$video-tutorials = #ec3424
$copywriting = #007f80
$blog = #0275d8
