// App Shared Variables
// --------------------------------------------------
// Shared Stylus variables go in the common.variables.styl file
@import 'common.variables'

// Material only Quasar variables overwrites
// -----------------------------------------
$typography-font-family         ?= 'Source Sans Pro', '-apple-system', 'Helvetica Neue', Helvetica, Arial, sans-serif
$typography-font-family-lat     ?= 'Lato', 'Roboto', '-apple-system', 'Helvetica Neue', Helvetica, Arial, sans-serif

$toolbar-title-font-size     ?= 20px
$toolbar-subtitle-font-size  ?= 14px

$chip-font-size          ?= 16px
