// variables import.
@import "~variables"
@import "~quasar-framework/src/css/core/helpers.styl"
@import "~quasar-framework/src/css/core/flex.styl"
@import "~quasar-framework/src/css/core/size.styl"
@import "~quasar-framework/src/css/core/mouse.styl"

.u-page {

  .u-brand {

    margin-bottom 30px
    img {
      margin 0
    }
  }

  .u-page-meta {
    @extends .flex
    flex-direction column
    justify-content flex-start
    .categories-list {
      img {
        margin-bottom 26px
      }
    }

    .q-list-header {
      margin-left 0
      padding-left 0
      margin-bottom 10px
      line-height 20px
      font-size 20px
      color black
      text-transform capitalize
      font-weight 600
    }
    .q-list {
      padding-top 0 !important
    }
    padding 20px 24px
    background lighten($primary, 94%)
    .q-item {
      text-transform capitalize
      padding-left 14px
      padding-right 14px
      color $grey-8
      font-weight 400
      .icon-small i {
        font-size 1em
      }
    }

    .q-list-separator > .q-item-division + .q-item-division, .q-item-division + .q-item-separator {
      border-color lighten($primary, 80%)
    }
    .q-item, .q-item.router-link {
      background transparent
      color lighten(black, 20%)
      letter-spacing 0.04em
    }
    .q-item.active, .q-item.router-link-active, .q-item:focus {
      background transparent
      color $primary
      font-weight 600
      .q-icon {
        color $primary
      }

    }
  }

  .u-page-main {
    .q-layout-page {
      padding: 18px 24px
    }
  }
}
