// external page component wrapper.
div.u-page.row.justify-between.fit

  // page left side (meta column)
  div.u-page-meta.col-md-3.col-xs-12.flex.fit(v-if="meta === true")
    // meta slot.
    slot(name="meta")

  // page right side (main content)
  div.u-page-main.flex.fit(v-bind:class="{ 'col-md-9': meta, 'col-xs-12': meta, 'col-md-12': !meta }")
    // make scrollable
    // q-scroll-area(style="width: 100%; height: 100vh")
    // wrap on a page.
    q-page.u-page()
      // main content slot.
      slot(name="main")




