u-layout-page.u-page-activity

  template(slot="meta")
    span meta

  template(slot="main")
    q-pull-to-refresh(:handler="loadPosts", :inline="true")
      div.row.justify-center
        // div.col-lg-6.col-md-8.col-sm-12
          q-pull-to-refresh(:handler="refresher", refresh-icon="icon-refresh")
            // q-select(:options="dateOptions", v-model="month")
            // q-datetime(:modal="true", format-model="date", v-on:change="updatePicker", v-model="month", type="date", default-view="month", :minimal="true", format="ww")
            // q-scroll-area(style="width: 100%; height: 100%;")
              // | {{ $t('steem.activity.replied') }}
            q-list.box-list(:sparse="false", no-border, :multiline="true")
              // q-lihahahst-header Recent chats
              q-infinite-scroll(:handler="loadMore", ref="infiniteScroll")
                template(v-for="item in sortedHistory")
                  q-item(dense)
                    q-item-side()
                      box-async-image.q-item-avatar(:url="'https://img.blocker.press/a/'+(item.value.op[1].voter || item.value.op[1].from || item.value.op[1].author)")
                    q-item-main(:sublabel-lines="1", :label="'@' + (item.value.op[1].voter || item.value.op[1].from || item.value.op[1].author)", :sublabel="JSON.stringify(item.value.op[1])")

                    // q-item-side(:stamp="item.timestamp | timeAgo")
                    // q-item-side(:stamp="item.timestamp | timeAgo")
                  q-item(dense)
                    q-item-side(:stamp="item.value.timestamp | timeAgo")
                  q-item-separator
                div.text-center
                  q-spinner-dots(v-if="done === false", slot="message" :size="40")


