// component wrapper.
q-popover.u-comments-payout-popover(@hide="hidePayout", v-model="showingPayout")
  div.payout-info
    q-list
      q-item(v-if="showingPayout")
        q-item-main Pending
        q-item-side(side="right") $ {{ comment._pending_payout_value | currency }}
      q-item(v-if="showingPayout")
        q-item-main Author
        q-item-side(side="right") $ {{ comment._total_payout_value | currency }}
      q-item(v-if="showingPayout")
        q-item-main Curators
        q-item-side(side="right") $ {{ comment._curator_payout_value | currency }}
