// header toolbar wrapper.
q-toolbar.u-toolbar(color='tertiary', :class="{ desktop: isDesktop }")
  // wrapper container.
  div.container.toolbar-container

    // left side

    // brand / logo element.
    router-link(:to="{ name: 'home' }")
      img.u-logo.mobile-only(src="~assets/img/logo-icon.svg")
      img.u-logo.desktop-only(src="~assets/img/logo-white.svg")

    // right side

    // right side menu items for guests.
    div.u-toolbar-right.u-toolbar-right-guest(v-if="guest")
      // login button.
      q-btn(@click="redirectToLogin", label="Login")

    // right side menu items for users.
    div.u-toolbar-right.u-toolbar-right-user(v-if="!guest")
      q-btn.u-add(no-ripple, dense, color="primary", :label="createLabel", icon="mdi-plus", @click="redirectToCreate")
      q-icon(name="mdi-bell-outline")
      span.avatar-wrapper
        img.avatar(:src="avatar")
        q-popover
          q-list(link="", v-close-overlay="")
            q-item(:to="{ name: 'settings' }")
              q-item-side(icon="mdi-settings")
              q-item-main(label="Settings")
            q-item(:to="{ name: 'auth.logout' }")
              q-item-side(icon="mdi-logout")
              q-item-main(label="Logout")
