@import "~variables"

.u-comments-votes-popover {
  .vote-scroll-area {
    .q-list {
      border none
    }
    max-height 400px
    min-height 10px
    height 300px
    width 300px
    max-width 100%
  }
}
