@import "~variables"

div.u-comment-vote-item {
  .q-item-side.q-item-side-avatar {
    padding 0
    line-height 14px
  }
  .q-item-main, .q-item-side {
    padding 4px 0
    line-height 22px
  }
  img {
    width 22px
    height 22px
    border-radius 4px
  }
}
