@import "~variables"

div.u-post-reply {
  // font-family "Lato"
  margin-bottom 60px
  div.row.row-inner-replies {
    .u-post-reply {
      margin-top 40px
      margin-bottom 0
    }

  }

  .reply-content {
    border 1px solid $grey-2
    padding 12px
    border-radius 4px
    width 100%
  }
  .reply-actions {
    border-top 1px solid $grey-1
    padding-top 12px
    margin-top 12px
  }
  //.reply-actions {
  //  width 100%
  //  display flex
  //  justify-content flex-start
  //  vertical-align middle
  //  color $grey-7
  //  line-height 1.6em
  //  font-weight 600
  //  .payout {
  //    line-height 2em
  //  }
  //  .q-btn {
  //    line-height 1em
  //    .q-btn-inner {
  //      padding 0 4px
  //      line-height 1em
  //    }
  //    font-size 16px
  //    span {
  //      padding-left 5px
  //      font-weight 600
  //    }
  //  }
  //  > .tile {
  //    font-size 16px
  //    padding: 0
  //  }
  //  .tile + .tile {
  //    margin-left 20px
  //  }
  //  .tile > span {
  //    margin-right 5px
  //  }
  //  .q-icon {
  //    font-size 16px
  //    // font-weight 600
  //  }
  //}
  a, a:visited {
    text-decoration none
    color $primary
  }
  div.row.row-author-info {
    // margin-top 10px
    margin-bottom 12px
    font-size 16px
    line-height 1em
    div + div {
      margin-left 5px
    }
    span {
      line-height 1em
    }
    div.name {
      font-weight 600
    }
    div.time-ago {
      opacity 1
      margin-left 15px
    }
    div.time-ago span {
      color $grey-9
      font-size 14px
    }
  }

  div.reputation {
    span {
      background $primary
    }
  }
  div.op {
    span {
      background $grey-7
    }
  }
  div.reputation, div.op {
    line-height 12px
    text-align right
    span {
      font-family $typography-font-family-mono
      color white
      // background $primary
      line-height 12px
      border-radius 2px
      margin-top -2px
      padding 0 3px
      font-size: 12px
      font-weight 500
    }
  }

  width 100%
  display block
  .row.row-inner-replies {
    padding-left 45px
  }
  .row.row-post-reply {
    display: flex
    width 100%
    flex-wrap nowrap
  }
  .reply-avatar {
    width 44px
    min-width 44px
    // margin-right 12px
    padding-top 2px
    img {
      // box-shadow 0 0 1px rgba(0, 0, 0, 0.5)
      width 36px
      height 36px
      border-radius 50%
    }
  }

  .reply-body {

    letter-spacing 0.015em
    margin-bottom 0
    & > :first-child {
      margin-top 0
    }
    & > :last-child {
      margin-bottom 0
      padding-bottom 0
    }
    line-height 1.6em
    a, a:hover, a:visited {
      color $primary
      text-decoration none
    }
    strong {
      font-weight 600
      color $grey-10
    }
    center {
      text-align center
      > * {
        margin 0 auto
        text-align center
        display block
      }
    }
    img {
      max-width 100%
    }
    p, ul, li, a, i, em, code {
      word-break break-word
    }
    p {
      width 100%
      word-break break-word
      margin 0 0 1rem
    }

    // color: $tertiary
    padding 0
    font-size 1em
    code {
      color $grey-8
      font-weight 500
      font-size 0.9em
      letter-spacing 0.025em
      font-family $typography-font-family-mono
      background $grey-2
      padding 4px
      border-radius 2px
    }
    pre {
      width 100%
      overflow-x auto
      background $grey-2
    }
    pre {
      code {
        width 100%
        display block
        padding 6px 12px
        background $grey-2
        color $tertiary
        // color $grey-8
        // font-weight 500
        font-size 0.9em
        letter-spacing 0.025em
        font-family $typography-font-family-mono
        // background $grey-2
        // padding 4px
        border-radius 2px
      }
      width 100%
      overflow-x auto
      //background $grey-2

    }
    h1, h2, h3, h4, h5, h6 {
      width 100%
      font-weight 600
      margin-bottom 0.1em
      margin-top 0.5em
      color $grey-9
      line-height 1.2em
      font-family $typography-font-family
    }
    h1 {
      font-size 22px
    }
    h2 {
      font-size 20px
    }
    h3 {
      font-size 19.5px
    }
    h4 {
      font-size 19px
    }
    h5 {
      font-size 18.5px
    }
    h6 {
      font-size 18px
    }
    ul {
      // margin 0
      // padding-left 1.2em
      li {
        // line-height 2.1em
      }
    }
  }
}
