// component wrapper.
div.u-post-reply(:id="'@'+reply.author + '/' + reply.permlink")
  div.row.row-post-reply
    div.reply-avatar
      img(:src="reply._author_avatar")
    div.reply-content
      div.row.row-author-info
        div.name
          span {{ reply.author }}
        div.reputation
          span {{ reply._author_reputation }}
        div.op(v-if="reply.author === reply.root_author")
          span OP
        div.time-ago
          span
            a(:href="reply.url", target="_self") {{ reply._time_created_from_now }}
      div.reply-body.markdown-content(v-html="body")
      div.reply-actions
        u-comments-actions(:comment="reply", @voted="$emit('voted')")


  div.row.row-inner-replies
    u-post-reply(v-for="child in reply._replies", :feed="feed", :key="child.author + child.permlink", @voted="$emit('voted')", :reply="child")
