// wrapper element.
q-layout-drawer(v-model="open", no-hide-on-route-change, :content-class="drawerClasses")

  // main drawer instance
  div.u-drawer-wrapper.no-wrap

    // row wrapper (top items).
    div.row.u-drawer-top
      div.column.fit

        // drawer brand
        div.row.fit.u-drawer-brand
          q-list.fit(no-border='', link='', dense, inset-delimiter='')
            q-item.justify-center
              q-item-main
                q-icon.ut-utopian(style="font-size: 30px")

        // drawer top menu.
        div.row
          // drawer list.
          q-list.u-drawer-menu.fit(no-border='', dark, sparse, inset-delimiter='')
            // posts
            q-item.no-wrap(:to="{ name: 'home' }", :exact="true")
              q-item-side.text-center(icon='icon-globe')
                q-tooltip(color="primary", anchor="bottom right", self="bottom left", :offset="[10, 10]") Explore
            // activity.
            q-item.no-wrap(:to="{ name: 'activity' }", :exact="true")
              q-item-side.text-center(icon='icon-bell')
                q-tooltip(color="primary", anchor="bottom right", self="bottom left", :offset="[10, 10]") Notifications
            // settings.
            q-item.no-wrap(:to="{ name: 'settings' }", :exact="true")
              q-item-side.text-center(icon='icon-settings')
                q-tooltip(color="primary", anchor="bottom right", self="bottom left", :offset="[10, 10]") Settings


    // row wrapper (bottom items).
    div.row.u-drawer-bottom.u-drawer-menu
      // column wrapper.
      div.column.fit

        // drawer list.
        q-list.u-drawer-menu.fit(no-border='', link='', dark, sparse, inset-delimiter='')
          q-item.justify-center(v-if="check")
            q-item-side.u-drawer-avatar(:avatar="'https://img.blocker.press/a/'+username")
            q-popover.u-user-popover(touch-position)
              q-list(separator, link)
                q-item(v-close-overlay="", @handler="toggleCollapse")
                  q-item-side.text-center(icon="icon-user")
                  q-item-main Profile
                q-item(v-close-overlay="", @click.native="logout")
                  q-item-side.text-center(icon="icon-logout")
                  q-item-main Logout

          q-item.justify-center(v-if="!check", :to="{ name: 'auth.login' }")
            q-item-side.text-center(icon="icon-user")
          q-item.no-wrap(style="font-weight: 700")
            q-item-side.text-center(icon='icon-magnifier')
            q-item-main(v-if="!drawerCollapsed", label='Browse', @click="toggleCollapse")
          q-item.justify-center(:to="{ name: 'create' }")
            q-item-side.text-center()
              q-icon.q-item-icon.ut-plus
              q-tooltip(color="primary", anchor="bottom right", self="bottom left", :offset="[10, 10]") New Post

