div.container {
  width 100%
  max-width 1140px
  margin 0 auto
  padding 0 18px
}

// generic wrapper elements style.
html, body, .u-app {
  display flex
  height 100%
  content: " "
  float left
  width 100%
}

// scrollable content hack.
.q-layout-page, q-layout-page-container {
  height 100%
}

// scrollable content hack.
.u-app {
  height 100%
  width 100%
}
