// import highlight.js github style.
@import "~highlight.js/styles/github.css"

// revert italic comments to normal.
.hljs-comment, .hljs-quote
  font-style normal !important


// code blocks should be padded.
pre > code
  padding 10px
