@import "~variables"



div.u-comments-actions {

  .payout.declined {
    span {
      text-decoration line-through
    }
  }
  .action-item {

    span.vote-count {
      margin-right 10px
      &.primary {
        color $primary
      }
    }

    & > * {
      display inline-block
    }
    .q-icon, .q-btn .q-icon {
      margin-top -2px
      font-size 16px
    }
    .q-btn {
      color $grey-7
      padding 0
      min-height 1px
      line-height 14px

      span {
        font-weight 700
        line-height 1em
        // color $grey-7
        // font-family "Roboto Mono"
        // line-height 16px
        font-size 14px
      }
    }
    .q-focus-helper {
      display none
    }
    span.separator {
      margin-left 10px
    }
    font-weight 700
    color $grey-7
    // font-family "Roboto Mono"
    // line-height 16px
    font-size 14px
    line-height 14px


    .q-icon {
      // width 10px
      text-align left
      font-size 16px
    }



    &.space-icon {
      .q-icon {
        margin-right 5px
      }

    }
    & + .action-item {
      //margin-left 12px
      &:before {
        content: '●'
        padding-left 8px
        padding-right 8px
        opacity 0.4
      }
    }
  }
}
