@import "~variables"

div.q-layout-page.u-page.u-page-index, main.q-layout-page.u-page.u-page-index {
  padding: 12px 24px
}
.desktop {
  .u-page.u-page-index {
    .u-filters {
      .q-collapsible-inner {
        & > .q-item {
          display none
        }
      }
    }
  }
}
.u-page.u-page-index {
  .u-filters {
    .q-field-label-inner {
      font-size 15px
      min-height 22px
      line-height 22px
    }
    .q-field-content {
      padding-top 0
    }

    padding 0
    .q-collapsible-sub-item {
      padding-left 0
      padding-top 0

    }
  }
  .row-filters {

    .q-btn-dropdown {
      font-size 16px
    }
    .q-btn-inner {
      text-transform capitalize
    }
  }
  .row-filters + .row-filters {
    // margin-top 20px
  }
  .field-order {
    .q-list {
      padding 0
    }
    .q-field-content {
      padding-top 0
    }
    .q-btn {
      padding 2px
      min-height 20px
    }
    .q-focus-helper {
      height 24px
      display none
    }
  }
  .u-label {
    font-size 12px
    color $form-dark
  }
  .q-item {
    overflow hidden
  }

  .q-infinite-scroll-message {
    text-align center
  }

  .select-category {
    border: 1px solid $primary
    padding 4px 0
    border-radius 4px
    color $primary
    .q-item-label {
      text-transform uppercase
    }
    .q-input-target {
      color $primary
      text-transform uppercase
    }
  }

  .q-list.posts-list {
    padding 0
    .q-item {
      border-radius 4px
      background white
      border 1px solid $grey-4
      margin-bottom 15px
      padding-top 15px
      padding-bottom 15px
    }
  }
}
