@import "~variables"

div.u-post-author {
  display flex
  font-weight 600

  & > div {
    margin 0 5px
  }

  &.reverse {
    flex-direction row-reverse
    justify-content space-between

    div.reputation {
      text-align left
    }

  }

  div.author-details {

    div.name {
      line-height 14px
      font-size 14px
      vertical-align baseline
      padding-bottom 4px
    }

  }
  .avatar {
    img {
      width 36px
      height 36px
      border-radius 4px
    }
  }
  div.reputation {
    line-height 12px
    text-align right
    span {
      color $grey-7
      border 1px solid $grey-7
      line-height 12px
      border-radius 2px
      margin-top 0
      padding 0 2px
      font-size: 11px
      font-weight 700
    }
  }
}
