// component wrapper.
div.u-post-author(:class="{ reverse }")
  // text details
  div.author-details
    div.name
      span {{ '@' + post.author }}
    div.reputation
      span {{ post._author_reputation }}
  div.avatar
    img(:src="post._author_avatar")


