// settings page template.
u-layout-page.u-page-settings

  // meta column.
  template(slot="meta")
    div.row.justify-center
      span Settings.


  // settings form fields.
  div.row.flex.justify-center(slot="main")
    div.col-12
      q-field(:label="$t('common.language')", orientation="vertical")
        q-select(:options="languages", v-model="lang")
