u-layout-page.u-page-post(:meta="false")

  // main post row wrapper.
  div.row.flex.justify-center(slot="main")

    // post content element.
    div.post-content(v-if="post !== null")

      // display author information.
      div.row.justify-between.row-author
        // author header component.
        u-comments-author-header(v-if="author !== null", :author="author")

        // right side info.
        div.text-right
          // display posts tags.
          div.tags
            q-btn.tag(color="tertiary", dense, size="", outline, :key="tag.id", v-for="tag in post._visible_tags")
              | {{ tag.label }}
          // post created time ago.
          div.time-ago(style="padding-top: 12px")
            | {{ post._time_created_from_now }}

      // separate with horizontal rule.
      hr

      // post title.
      div.post-title {{ post.title }}

      // post markdown content (rendered).
      div.post-body.markdown-content(v-html="postBody")

      // actions for the root post (vote, stats...).
      u-comments-actions.post-actions(:comment="post")
      // comments section ruler.
      hr

      // post relies wrapper.
      div.post-replies
        // title.
        div.replies-title Comments
        // loop the replies.
        u-post-reply(v-for="reply in sortedReplies", :feed="feed", :key="reply.author + reply.permlink", @voted="loadContent", :reply="reply")

      // back to top button (scroll to top).
      q-btn.fixed-bottom-right(style="margin: 0 15px 15px 0", v-back-to-top="", round, color="primary", icon="mdi-arrow-up")
