u-layout-page.u-page-create(:meta="false")

  template.editor-wrapper(slot="main")
    div.col-md-6.editor.side-editor(:style="editorStyle")
      div.flex.fit
        q-input(v-model="body", type="textarea")
    div.col-md-6.editor.side-preview(:style="previewStyle")
      div.flex.fit
        div.post-body(v-html="preview")

