u-layout-page.u-page-create(:meta="false")

  template(slot="main")

    div.editor-wrapper
      div.side-editor(:style="editorStyle")
        div.flex.fit.editor
          div.editor-container#editor-container

      div.side-preview(:style="previewStyle")
        div.flex.fit.preview
          div.post-body.markdown-content(v-html="preview")

