// post preview wrapper.
// q-item.u-post-preview(:class="post._category")
q-item.u-post-preview(:to="post.url", :link="false", :class="post._category")

  q-item-main
    div.row.post-preview-row
      div.col-6

        div.item-category(v-if="post._category !== null")
          q-icon(:class="'ut-' + post._category")
          span {{ post._category }}

        // div.q-item-body

          div.q-item-label {{ post.title }}
          div.q-item-except(v-if="showExcept === true")
            div(style="overflow: hidden") {{ except }}

        // div.tags
          q-btn.tag(color="tertiary", dense, size="", outline, :key="tag.id", v-for="tag in post._visible_tags")
            | {{ tag.label }}

      div.col-6.post-meta
        div.author

          div.author-details
            div.name
              span {{ '@' + post.author  }}
              // span.reputation {{ post._author_reputation }}
            div.time-ago {{ post._time_created_from_now }}
          div.avatar
            img(:src="post._author_avatar")

        // div.item-category(v-if="post._category !== null")
          // span {{ post._category }}
        // div.payout $ {{ post._pending_payout_value }}
        // div.time-ago {{ post._time_created_from_now }}

        // div.details
          div.author
            div.author-details
              div.name
                span {{ '@' + post.author  }}
              div
                span.reputation {{ post._author_reputation }}
              //div.time-ago {{ post._time_created_from_now }}
            div.avatar
              img(:src="post._author_avatar")

    div.row.post-preview-row
      div.col-md-12
        div.q-item-body

          div.q-item-label {{ post.title }}
          div.q-item-except(v-if="showExcept === true")
            div(style="overflow: hidden") {{ except }}


    div.row.post-preview-row
      div.col-md-12.flex.justify-between


        u-comments-actions(:comment="post")
        // div.author
          div.avatar
            img(:src="post._author_avatar")
          div.author-details
            div.name
              span {{ '@' + post.author  }}
              span.reputation {{ post._author_reputation }}


        div.tags
          q-btn.tag(color="tertiary", dense, size="", outline, :key="tag.id", v-for="tag in post._visible_tags")
            | {{ tag.label }}
