// default variable import.
@import "~variables"

// app wrapper.
.u-app#q-app
  // main layout custom style.

// transition rule for layout pages.
div, main
  &.q-layout-page.u-page
    padding: 24px 24px
    transition: left 0.5s ease;
